body {
  /* background-color: lightgreen; */
}

h1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 15px;
}

.title {
  font-weight: bold;
  text-align: center;
  /* background-color: lightcoral; */
}

/* input {
  border-radius: 8px;
} */
ul {
  margin-top: 10px;
}
p {
  /* text-align: center; */
  margin: auto;
}

.textBox {
  /* background-color: lightsalmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  /* background-color: lightcyan; */
  margin-left: 15px;
}

.textContent {
  background-color: lightsalmon;
  text-align: center;
  /* text-ali: ; */
}

.li {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  align-items: center;
  /* background-color: lightcoral; */
}

.container {
  width: 100%;
  height: 100%;
  /* background-color: lightskyblue; */
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 15px;
}
.countries {
  padding: 20px;
  /* background-color: crimson; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}

.favCountries {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  width: 50%;
  height: 100%;
}

.addButton {
  background-color: lightgreen;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
}
.deleteButton {
  background-color: lightcoral;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
}
